@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #09090b;
}

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #09090b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-poppins: var(--font-poppins);
  --font-istok-web: var(--font-istok-web);
}

body {
  background-color: #fafafa !important;
  color: #09090b !important;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
